body {
  background-color: #0D0D0D;
}

.header-logo {
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

.header-logo-img {
  position: relative;
  height: 70px;
}

button {
  outline: none;
}

.top-games {
  background-color: #0d0d0d;
  background-image: linear-gradient(90deg, #0d0d0d 0%, #59050c 50%, #0d0d0d 100%);
}

.fa-7x {
  position: relative;
}

.fa-spinner {
  position: absolute;
  top: 100px;
  z-index: 2;
  color: rgb(229, 229, 229);
}

.card-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 320px;
}

.card-list-title {
  text-align: left;
  margin-left: 20px;
  font-family: 'Squada One', cursive;
  font-size: 35px;
  color: rgb(229, 229, 229);
}

.card-button {
  position: absolute;
  line-height: 260px;
  top: 35px;
  z-index: 2;
  width: 70px;
  color: rgb(229, 229, 229, 0.8);
  background-color: rgb(13, 13, 13, 0.3);
  border: none;
}

.card-button:hover {
  background-color: rgb(13, 13, 13, 0.7);
  cursor: pointer;
}

.card-prev-button {
  left: 0;
}

.card-next-button {
  right: 0;
}

.card-list {
  display: flex;
  width: 100%;
  height: 320px;
  padding-top: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  margin-right: 10px;
  color: white;
  transition: all ease 1s;
}

.card:hover {
  transform: scale(1.1) translate(0, 5px);
  z-index: 1;
  cursor: pointer;
}

.card-title {
  position: absolute;
  left: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255, 0.8);
}

.game-streams {
  height: 200px;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 450px;
  top: 20%;
  background-color: #0D0D0D;
}

.stream-media {
  position: relative;
  width: 800px;
  height: 450px;
  margin-left: 20px;
  margin-bottom: 30px;
  right: 0;
  background-color: #0D0D0D;
}

.modal-close {
  position: absolute;
  color: rgb(229, 229, 229, 0.8);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close:active {
  color: rgba(255, 255, 255);
}

.stream-username {
  position: relative;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: rgb(229, 229, 229);
}

.stream-username:hover .tooltip {
  visibility: visible;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: rgb(126, 126, 126);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  min-width: 120px;
  font-size: 15px;
  font-weight: normal;
}

.tooltip > p {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.stream-details {
  position: absolute;
  bottom: 150px;
}

.stream-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.stream-info {
  position: relative;
  padding-left: 30px;
  width: 600px;
  text-align: left;
  top: 60px;
  font-size: 20px;
  color: rgb(229, 229, 229);
}

.stream-info > div > * {
  display: flex;
  height: 30px;
}

.stream-info > div > div > .title {
  font-weight: bold;
  margin-right: 10px;
}

.error-container {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 120px;
  font-weight: bold;
  font-family: 'Squada One', cursive;
  color: rgb(229, 229, 229);
}

div.game-streams div.error-container {
  display: none;
}
